{% extends 'cursos/base.html' %}

{% comment %} Espacio block para el titulo de la pagina {% endcomment %}

{% block title %} Profesor {% endblock %}

{% block content %}
<h2 class="centrado">Panel del Profesor</h2>
<p>Bienvenido, {{ user.get_full_name|default:user.username }}</p>

<h3>Tus cursos:</h3>
<ul>
    {% for curso in cursos %}
        <li>
            {{ curso.titulo }} - 
            <a href="{% url 'subir_material_extra' curso.id %}">Ver detalles</a>
        </li>
    {% empty %}
        <li>No tienes cursos asignados.</li>
    {% endfor %}
</ul>
{% endblock %}
