{% extends 'cursos/base.html' %}

{% comment %} # muesra eL detalle de los cursos como las fechas de inicio, fin, ademas de los usuarios inscritos a dicho curso {% endcomment %}

{% block content %}
    <h2>Detalles del Curso: {{ curso.titulo }}</h2>
    <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
    <p><strong>Profesor:</strong> {{ curso.profesor.nombre }}</p>
    <p><strong>Fecha de inicio:</strong> {{ curso.fecha_inicio }}</p>
    <p><strong>Fecha de fin:</strong> {{ curso.fecha_fin }}</p>
    <h3>Usuarios Inscritos:</h3>
    <ul>
        {% for inscripcion in inscripciones %}
            <li>
                {% if inscripcion.user %}
                    {{ inscripcion.user.username }} ({{ inscripcion.email_estudiante }})
                {% else %}
                    {{ inscripcion.nombre_estudiante }} ({{ inscripcion.email_estudiante }})
                {% endif %}
            </li>
        {% empty %}
            <li>No hay usuarios inscritos.</li>
        {% endfor %}
    </ul>

    {% comment %} Boton para subir un material extra (no esta restringido para administradores)
    {% if user.is_authenticated %}
    <a href="{% url 'subir_material_extra' curso.id %}">
        <button style="margin-bottom: 20px;">Subir Material Extra</button>
    </a>
    {% endif %}
    {% endcomment %}

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'inscribirse_curso' curso.id %}">
            {% csrf_token %}
            <button type="submit">Inscribirse</button>
        </form>
    {% else %}
        <p>Debes <a href="{% url 'login' %}">iniciar sesión</a> para inscribirte.</p>
    {% endif %}
    <a href="{% url 'lista_cursos' %}"><button>Volver</button></a>
{% endblock %}