{% extends 'cursos/base.html' %}

{% comment %} Espacio block para el titulo de la pagina {% endcomment %}

{% block title %} Perfil {% endblock %}

{% comment %} # muesra eL detalle de los cursos como las fechas de inicio, fin, ademas de los usuarios inscritos a dicho curso {% endcomment %}

{% block content %}
    <h2>Perfil de {{ user.username }}</h2>

  {% if es_profesor %}
    <h3>Profesor: {{ profesor.nombre }}</h3>
    <p>Especialidad: {{ profesor.especialidad }}</p>
    <h4>Cursos que imparte:</h4>
    <ul>
      {% for curso in cursos %}
        <li>{{ curso.titulo }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>Estudiante</h3>
    <h2>Mis Cursos</h2>
    {% for curso in cursos_info %}
      <h3>{{ curso.titulo_curso }}</h3>
      <ul>
        {% for material in curso.materiales %}
          <li>
            {{ material.titulo }} -
            <strong>
              {{ material.estado }}
            </strong>
          </li>
        {% endfor %}
      </ul>
    {% empty %}
      <p>No estás inscrito en ningún curso.</p>
    {% endfor %}
  {% endif %}

{% endblock %}