/* PERFIL DE USUARIO */
.perfil-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}
.perfil-izquierda {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.perfil-derecha {
  flex: 1;
}

.perfil-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.foto-perfil {
  position: relative;
  width: 150px;
  height: 150px;
  right: 5px;
}
.foto-perfil img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.upload-btn {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-secundario);
  color: var(--color-primario);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.upload-btn:hover {
  background-color: #357ab7;
}
.infoPerfil {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 15px;
}
.perfilCursos_est { 
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 3rem;
  border: 2px solid #DEDEDE;
}

.tarjetaMaterial {
  background-color: #e8f8f5;
  box-shadow: 0 0 5px var(--color-secundario),
  0 0 5px var(--color-secundario),
  0 0 5px var(--color-secundario);
  padding: 15px;
  margin: 20px 50px;
  border-radius: 15px;
  border: 2px solid transparent;
  width: 300px;
  transition: transform 0.2s ease;
}
.tarjetaMaterial:hover {
  transform: scale(1.02);
}

.tarjetaMaterial h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #2c3e50;
}

.tarjetaMaterial ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.tarjetaMaterial a {
  color: #4a90e2;
  text-decoration: none;
}

.tarjetaMaterial button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tarjetaMaterial button:hover {
  background-color: #357ab7;
}
/* Barra de Progreso */
.barra-progreso {
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.barra-progreso-llenado {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #4caf50, #81c784);
  position: relative;
}

.barra-texto {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: rgb(36, 32, 32);
  font-weight: bold;  
}
.barra-texto.dentro {
  color: white;
  right: 10px;
}

.barra-texto.fuera {
  color: #333;
  left: 100%;
  margin-left: 5px;
}

/* Botón de editar perfil */
.edit_btn {
  text-align: center;
  margin-bottom: 2rem;
}

.btn_editar{
  display: inline-block;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.input-perfil {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}
/* estilos mas minimalistas a la informacion al editar usuario como cambiar password */
.form-group label {
  font-weight: 500;
}
.form-group {
  margin-bottom: 1.2rem;
}
.help-text {
  display: block;
  color: #888;
  font-size: 0.95em;
  margin-top: 0.2em;
}
.error-text {
  color: #e74c3c;
  font-size: 0.97em;
  margin-top: 0.2em;
}
input, select {
  width: 100%;
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0.2em;
}